
<div class="row">
  <a name= 'top'>&nbsp;</a>
<!-- Sommaire -->
  <div class="span12">
    <ul class="unstyled">
    <% @howtos.each do |name, file| %>
      <li> <%= link_to name, ('#'+ name) %> </li>
    <%end%>
  </div>
</div>

<div class="row">
<!-- main section -->
  <div class="span8">
    <% @howtos.each do |name, file| %>
    <a name= '<%= name.chomp %>'>&nbsp;</a>
          <%= markdown file %>
    <%end%>
  </div> 
<!-- end main section -->


<!-- sidebar section -->
  <div class="offset1 span3">
        <h4> NoDoc <%= t("Statistiques") %> </h4>
        <p><%= t('there_is') %> <%= @programs_count %> <%= t('program') %></p>
        <p><%= t('there_is') %> <%= @procedures_count %> <%= t('procedure') %></p>
        <p><%= t('there_is') %> <%= @files_count %> <%= t('file') %></p>

        <h4> <%= t("Last_NOLS_documented_objects") %> </h4>
        <p><%= t('not_available_yet') %> ;-)</p></div>
  </div> 
<!-- end sidebar section -->

</div>


<!--
    <div class="row">
      <div class="span8">
        <% @recent_documents.each do |document| %>
          <div class="row">
            <div class="span8">
          <div class= "news push">
            <div class="body">
              <span class="mega-octicon octicon-git-commit"></span>
              <div class="time"> <%= t("2 days ago") %></div>
              <div class="title">
                <%= link_to "somebody", document_path(document) %> a mis en UAT
                <%= link_to document.name, document_path(document)   %>
              </div>
              <div class="details">
                <div>
                  <ul>
                    <% if document.briefs.nil? || document.briefs.empty? || document.briefs.blank?%>
                       <li class="alert"><%= t("**no information**") %></li>
                    <% else %>
                      <% document.briefs.each do |brief| %>
                        <li> <%= markdown brief.value %></li>
                      <%end%>
                    <%end%>
                  </ul>
                </div>
                <div class="commits pusher-is-only-committer">
                  <ul>
                    <% document.revs.each do |rev| %>
                      <li> markdown rev.value</li>
                    <%end%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
-->







